<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{ xml .Label }}</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ xml .Binary }}</string>
		<string>runner</string>
		<string>start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
{{- if .Environment }}
	<key>EnvironmentVariables</key>
	<dict>
{{- range $name, $value := .Environment }}
		<key>{{ xml $name }}</key>
		<string>{{ xml $value }}</string>
{{- end }}
	</dict>
{{- end }}
</dict>
</plist>
